.footer-social-facebook:hover{
  background-color: #3B5998;
  color: white;
  line-height: 55px;
  
 
 
 
  

}
.footer-social-twitter:hover{
  background: #55ACEE;
  color: white;
  line-height: 52px;
 
  

  
}

.footer-social-instagram:hover{
 background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
   background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
     
  color: white;
  line-height: 52px;
 
  
}

.footer-social-whatsapp:hover{
color: #4FCE5D;
background-color: white;
line-height: 45px;
}





@media screen and (max-width: 960px){
.background-height{
   height:100vh !important; 
}
.background-cover{
   height:100vh !important; 
}
.footer{
   padding-top: 17vh !important;
}
  .footer-flex{
    display: block;
 }
 .width-100-cname{
    width: 100%;
    text-align: center;
 }
 .footer-company-name{
    font-size: 2.0rem !important;
    margin-left: 8.8% !important;
    margin-right: 8.8% !important;
    margin-bottom: 2vh !important;
 }

 .footer-social-facebook{
   font-size: 2.5rem;
}
.footer-social-twitter{
   font-size: 2.5rem;
}
.footer-social-instagram{
   font-size: 2.5rem;
}
.footer-social-whatsapp{
   font-size: 2.5rem;
}
.footer-social-facebook:hover{
   line-height: 32px !important;

}
.footer-social-twitter:hover{
   line-height: 25px !important;

}
.footer-social-instagram:hover{
   line-height: 25px !important;
}
.footer-social-whatsapp:hover{
   line-height: 25px !important;
}

 .footer-all-social-icons{
   margin-left: 8.8% !important;
   margin-right: 8.8% !important;
   margin-bottom: 4vh !important;
 }
 .width-100-phn-no{
    width: 100%;
    text-align: center;
    margin-left: 0% !important;
    margin-right:0% !important;
 }
 .phn-no{
    font-size: 1.6rem !important;

 }
 .footer-horizontal-line{
    display: none;
 }
 .footer-terms-main{
    display: block;
    text-align: center;

 }
 .nairob-kenya{
    padding-top: 0vh !important;
    padding-bottom: 0vh !important;
    font-size:1.0rem !important;
    margin-top:2vh !important;
    margin-bottom: 0vh!important;
 }

 .email-us{
    margin-top: 2vh !important;
    margin-bottom: 0vh!important;
    
 }
 .email-us-font{
    font-size:1.2rem !important;
 }
 .footer-terms{
    display: none;

    
 }
 .footer-privacy{
   display: none;

 }
 
 .footer-google{
   display: none;

 }

 

}