.div-background-images-cover {
  background: no-repeat center;
	background-size: cover;
  margin-top: -13.333vh;

	
	width: 100%!important;
	height: 60vh !important;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
   
}



@media screen and (max-width: 960px){


.blog-heading-paragraph-on-mobile{
  font-size:0.8rem !important;
  padding-left: 0% !important;
}


.blog-font-on-mobile{
  margin-top: 2%;
  font-size: 1.2rem !important;

}

}