.div-background-images{
	background: no-repeat center;
	background-size: cover;
  margin-top: -13.333vh;

	
	width: 100%!important;
	height: 100vh !important;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    

}

.our-work-background-cover {
  width: 100%!important;
	height: 100vh !important;
}

.our-work-header{

    margin-top: 35vh;

}

.cards-backgound-color{

  background-image: linear-gradient( #ffffff , #030303);

}




@media screen and (max-width: 960px) and (orientation: portrait) {
	
 

 	

 

 	.header-on-mobile{
		
 		font-size: 1.2rem !important;
 	}

	 .header-subheading-on-mobile{
		font-size: 1.2rem !important;
	 }

	 .header-paragraph-1-on-mobile{
		font-size: 0.8rem !important;
	 }

 
	 .portfolio-on-mobile-width{
		margin-top: 2.4rem !important;
	 }
 	

	.portfolio-on-mobile-article-padding{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.portfolio-on-mobile-main{
		display: block;
		
	}
	.portfolio-on-mobile-pararaph-width{
		width:100% !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		height: 30vh ! important;
	}
	.portfolio-on-mobile-pararaph-head-padding {

		text-align: center;
		font-size: 1.0rem !important;
		margin-top: 0rem !important;
		padding-top: 1.5rem;
		
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.portfolio-on-mobile-pararaph-sub-head-padding{
		font-size: 0.8rem !important;
	}
	.portfolio-on-mobile-img-width{
		width:100%;
		padding-bottom: 0px;
		margin-bottom: 0px !important;
		
	
	}

	.portfolio-on-mobile-actual-img{
		
		object-fit:contain !important;
	}
	.portfolio-on-mobile-img-width-second-image{
		width:100%;
		padding-bottom:0px;
		margin-bottom: 0px;
		margin-top: 0px;
		
	}
	.portfolio-on-mobile-pararaph-head-padding-second-paragraph{
		text-align: center;
		font-size: 1.0rem !important;
		margin-top: 0rem !important;
		margin-bottom: 0px;

		padding-top: 1.5rem;
		padding-bottom: 0px;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.portfolio-on-mobile-article-second-paragraph{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.button-links-on-mobile{
		font-size: 0.6rem !important;
	}

	.cards-padding-vertical-on-mobile{
		padding-top: 0rem !important;
		padding-bottom:  0rem !important;
	}

 }	











 @media screen and (max-width: 960px) and (orientation: landscape) {


	.header-on-mobile{
		
		font-size: 1.2rem !important;
	}

	.header-subheading-on-mobile{
	 font-size: 1.2rem !important;
	}

	.header-paragraph-1-on-mobile{
	 font-size: 0.8rem !important;
	}

	.portfolio-on-mobile-width{
		margin-top: 2.7rem !important;
	 }

	.portfolio-on-mobile-article-padding{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.portfolio-on-mobile-main{
		display: block;
	}

	.portfolio-on-mobile-pararaph-width{
		width:100% !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		height: 57vh;
	}
	.portfolio-on-mobile-pararaph-head-padding {

		text-align: center;
		font-size: 1.0rem !important;
		margin-top: 0.625rem;
		padding-top: 3.0rem;
		
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.portfolio-on-mobile-pararaph-sub-head-padding{
		font-size: 0.8rem !important;
	}
	.portfolio-on-mobile-img-width{
		width:100%;
		padding-bottom: 0px;
		margin-bottom: 0px !important;
	}
	.portfolio-on-mobile-img-width-second-image{
		width:100%;
		padding-bottom:0px;
		margin-bottom: 0px;
		margin-top: 0px;
		
	}
	.portfolio-on-mobile-pararaph-head-padding-second-paragraph{
		text-align: center;
		font-size: 1.0rem !important;
		margin-top: 0rem !important;
		margin-bottom: 0px;

		padding-top: 1.5rem;
		padding-bottom: 0px;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.portfolio-on-mobile-article-second-paragraph{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.button-links-on-mobile{
		font-size: 0.6rem !important;
	}

	.cards-padding-vertical-on-mobile{
		padding-top: 0rem !important;
		padding-bottom:  0rem !important;
	}


 }